## Sets

In [5]:
## Sets has no duplicate element and set does not support Indexing

set_places={"Dubai","Abu Dhabi","Sharjah","Dubai"}
print(set_places)

{'Sharjah', 'Abu Dhabi', 'Dubai'}

In [6]:
## Addition in set

set_places.add("Al Ain")

In [7]:
set_places

{'Abu Dhabi', 'Al Ain', 'Dubai', 'Sharjah'}

In [8]:
## Difference of sets

set1={"Dubai","Abu Dhabi","Sharjah","Dubai"}
set2={'Abu Dhabi', 'Al Ain', 'Dubai', 'Sharjah'}

In [9]:
set2.difference(set1)

{'Al Ain'}

In [10]:
## Intersection of sets

set2.intersection(set1)

{'Abu Dhabi', 'Dubai', 'Sharjah'}

## Dictionary

In [14]:
##Dictionary uses same brackets as Sets but inside the brackets there are key values and not variables
## in dictionary the indexing is done with key names

dic={"India":"Delhi","UAE":"Abu Dhabi","UK":"London"}

In [15]:
dic["UAE"]

'Abu Dhabi'

In [16]:
## Adding Items in Dictionary

dic["Egypt"]="Cairo"

In [17]:
dic

{'India': 'Delhi', 'UAE': 'Abu Dhabi', 'UK': 'London', 'Egypt': 'Cairo'}

In [18]:
## keys over-ridden/replaced

dic["India"]="Mumbai"
dic

{'India': 'Mumbai', 'UAE': 'Abu Dhabi', 'UK': 'London', 'Egypt': 'Cairo'}

## Tuple

In [ ]:
## In tuple the items cannot be replaced but the whole tuple can be replaced

In [19]:
my_tuple=("Dubai","Abu Dhabi","Sharjah")

In [20]:
my_tuple[1]="Al Ain"

TypeError: 'tuple' object does not support item assignment

In [21]:
my_tuple=("Al Ain","Ras Al Kaimah")

In [22]:
my_tuple

('Al Ain', 'Ras Al Kaimah')